.loading-ani {
  position: fixed;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  animation: loading 1s forwards;
  background-color: rgba(0, 0, 0, 0.589);
  z-index: 2000; }

.loading-ani:after {
  content: '';
  position: absolute;
  height: 50px;
  width: 50px;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
  background-color: black;
  animation: ajaxLoadAni 1s infinite; }

.loading-ani:before {
  content: '';
  position: absolute;
  height: 50px;
  width: 50px;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
  background-color: #aaa;
  transform: rotate(45deg);
  animation: ajaxLoadAniBottom 2s infinite; }

@keyframes loading {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes ajaxLoadAni {
  0% {
    transform: rotate(0) scale(1); }
  50% {
    transform: rotate(360deg) scale(0); }
  100% {
    transform: rotate(720deg) scale(1); } }

@keyframes ajaxLoadAniBottom {
  0% {
    transform: rotate(45deg) scale(1); }
  50% {
    transform: rotate(405deg) scale(0); }
  100% {
    transform: rotate(765deg) scale(1); } }

.btn {
  cursor: pointer; }

table .btn {
  border-radius: 2px; }

.pagination {
  margin-top: 15px;
  margin-left: 15px; }
