body {
  font-family: 'Microsoft-YaHei';
  font-size: 14px;
  color: #666;
}
.loading-ani{
  position: relative;
  height: 25px;
  width: 25px;
  top: 50%;
  background-image: url("/images/loading.gif");
  background-repeat:no-repeat;
}
/****************header**************/
.header {
  font-size: 16px;
  height: 110px;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 5px 5px #f1f1f1;
}
.header .logo-con {
  position: relative;
  height: 100%;
  width: 1210px;
  margin: 0 auto;
}
.header .logo-con .head-logo {
  display: block;
  float: left;
  width: 160px;
  height: 50px;
  margin-top: 25px;
  line-height: 110px;
  background: url(../images/icon.png);
  background-position: 0 0;
}
.header .logo-con .logo-text {
  float: left;
  height: 34px;
  margin-top: 34px;
  margin-left: 34px;
  font-size: 24px;
  color: #333;
}
.header .logo-con .header-login {
  position: absolute;
  right: 0;
  bottom: 20px;
}
.header .logo-con .header-login p,
.header .logo-con .header-login .login {
  display: inline-block;
}
.header .logo-con .header-login p {
  color: #999;
}
/******************content******************/
.content .container {
  position: relative;
  width: 830px;
  margin: 100px auto;
}
.content .container .section-left {
  display: inline-block;
}
.content .container .section-left .reg {
  width: 400px;
}
.content .container .section-left .reg .form-item {
  width: 100%;
}
.content .container .section-left .reg .item-input {
  position: relative;
  height: 52px;
  border: 1px solid #ddd;
  font-size: 14px;
}
.content .container .section-left .reg .item-input lable {
  display: inline-block;
  line-height: 52px;
  width: 90px;
  padding-left: 20px;
  font-size: 14px;
}
.content .container .section-left .reg .item-input input {
  line-height: 52px;
  height: 90%;
  border: none;
  outline: none;
  font-size: 14px;
}
.content .container .section-left .reg .item-input input::-webkit-input-placeholder {
  color: #cccccc;
}
.content .container .section-left .reg .item-input i.i-status {
  position: absolute;
  display: none;
  width: 16px;
  height: 16px;
  top: 20px;
  right: 20px;
  background-image: url(../images/icon.png);
  background-position: 0px -24px;
}
.content .container .section-left .reg .item-input .i-err {
  background-position: -17px -100px !important;
}
.content .container .section-left .reg .item-input .i-suc {
  background-position: 0 -117px !important;
}
.content .container .section-left .reg .input-tips {
  color: #c5c5c5;
  height: 27px;
  font-size: 12px;
  padding-top: 5px;
}
.content .container .section-left .reg .input-tips span i.img {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  margin-right: 8px;
  background-image: url(../images/icon.png);
}
.content .container .section-left .reg .input-tips span .i-def {
  background-position: 0 -100px;
}
.content .container .section-left .reg .input-tips span .i-err {
  background-position: -17px -117px;
}
.content .container .section-left .reg .input-tips span .i-suc {
  background-position: 0 223px;
}
.content .container .section-left .reg .tips-error {
  color: red;
}
.content .container .section-left .reg .agree-and-read a {
  color: #38f;
}
.content .container .section-left .reg .btn-reg {
  margin-top: 27px;
  width: 100%;
  height: 54px;
  border: none;
  font-size: 16px;
  background-color: #e22;
  color: #fff;
  cursor: pointer;
}
.form-item.captcha input{
  width: 130px;
}
.content .container .section-right {
  position: absolute;
  top: 0;
  left: 500px;
  height: 100%;
  border-left: 1px solid #e6e6e6;
}
.content .container .section-right .form-company {
  margin-left: 100px;
}
.content .container .section-right .form-company .company-reg {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.content .container .section-right .form-company i.cpy-icon {
  display: inline-block;
  width: 30px;
  height: 29px;
  vertical-align: middle;
  margin-right: 15px;
  background-image: url(../images/icon.png);
}
.content .container .section-right .form-company .i-reg {
  background-position: 0 -50px;
}
.content .container .section-right .form-company .i-cus {
  background-position: -50px -50px;
}
.content .container .section-right .form-company a {
  display: inline-block;
  vertical-align: middle;
}
.content .container .section-right .form-company a:hover {
  font-weight: bold;
}
/***************footer**************/
.footer {
  text-align: center;
  border-top: 1px solid #e6e6e6;
  color: #666;
}
.footer .lk {
  margin: 40px auto;
}
.footer .lk a {
  margin: 0 10px;
}
.footer .copyright {
  margin-bottom: 40px;
}
