</div>
<link rel="stylesheet" href="/css/blog/footer-blog.css">
<footer>
  <div class="footer-inner">
    <ul class="lk-list">
      <li class="lk-item">
        <a href="http://www.bootcss.com" class="lk" target="_blank">Bootstrap</a>
        <a href="https://icomoon.io/" class="lk" target="_blank">Icomoon</a>
        <a href="https://iconmonstr.com/" class="lk" target="_blank">Iconmonstr</a>
        <a href="http://www.favicon.cc/" class="lk" target="_blank">favicon</a>
      </li>
      <li class="lk-item">
        <a href="http://mux.alimama.com/fonts" class="lk" target="_blank">UX图标字体库</a>
        <a href="http://browsershots.org/" class="lk" target="_blank">Browsershot</a>
        <a href="http://www.ddfont.com/" class="lk" target="_blank">ddfont英文字体</a>
        <a href="http://www.github.com" class="lk" target="_blank">Github</a>
      </li>
      <li class="lk-item">
        <a href="https://daneden.github.io/animate.css/" class="lk" target="_blank">AnimateCSS</a>
        <a href="http://www.w3school.com.cn/" class="lk" target="_blank">w3school</a>
        <a href="http://www.96yx.com/tool/ASC2.htm" class="lk" target="_blank">ASCII码表</a>
        <a href="https://thefwa.com/awards/page/1/" class="lk" target="_blank">thefwa</a>
      </li>
    </ul>
    <div class="copy-box">
      <h2 class="text-center">&copy 2018
        <br>
        <strong>BY YANSK</strong>
      </h2>
      <h6>Four short words sum up what has lifted most successful individuals above the crowd: a little bit more.</h6>
    </div>
  </div>
</footer>
<%- include('sidebar') -%>
<div class="parallax-window lazyload" data-original="/images/blog_bg.jpg"></div>
<div class="back-to-top" id="back_to_top"></div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script src="/js/requestAjax.js"></script>
<script src="/js/blog/footer.js"></script>
<script>
$(".lazyload").lazyload();
</script>
</html>