<link rel="stylesheet" href="/css/blog/aside.css">
<aside class='l-aside'>
  <a href="javascript:void(0);" class="sidebar-btn">
    <p>YANSK</p>
  </a>
  <ul class="navbar">
     <li>
      <a href="/blog"><span>首页</span></a>
    </li>
    <li>
      <a href="/blog/articlelist?by[type_id]=5b16cd78bbe59122b43bf2c1"><span>Web前端</span></a>
    </li>
    <li>
      <a href="/blog/articlelist?by[type_id]=5b198d59be1c73036d50c176"><span>服务端</span></a>
    </li>
    <li>
      <a href="/blog/articlelist?by[type_id]=5b16ce950100982448b19d55"><span>数据库</span></a>
    </li>
    <li>
      <a href="/iresume"><span>个人简历</span></a>
    </li>
  </ul>
</aside>