html{
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
}

body {
    font-family: 'Microsoft-Yahei';
    min-width: 200px;
    min-height: 400px;
  }
  
  .panel{
    border: none;
  }
  /* --------------------------------------menu-sidebar--------------------------------- */
  .menu-sidebar{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
  }
  .menu-sidebar .s-mask{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }
  .menu-sidebar .s-content-block{
    position: absolute;
    right: 0;
    width: 20vw;
    height: 100%;
    background-color: palevioletred;
    z-index: 1;
  }
  
  /*------------------------------------返回顶部------------------------------------*/
  .back-to-top {
    position: fixed;
    display: none;
    color: #E3E3E3;
    background: #515151;
    bottom: 3.33%;
    right: 1.33%;
    border: 1px soild #B0B0B0;
    box-shadow: 0 0 5px #B0B0B0;
    z-index: 998;
    transition: border-radius 0.5s ease;
  }
  .back-to-top:hover {
    border-radius: 100px;
  }
  /*------------------------------------navbar------------------------------------*/
  .navbar-custom {
    position: fixed;
    width: 100%;
    z-index: 998;
    
  }
  .navbar{
    transition:all .5s ease-in-out;
  }
  .navtop{
    background: none;
    color: #000;
    border-color: transparent;
    font-size: 1.6rem;
  }
  .navtop .navbar-toggle{
    border-color: transparent;
  }
  .navtop a{
    color: rgb(180, 180, 180) !important;
  }
  .navtop .navbar-collapse{
    transition: all .5s ease;
  }
  .navtop .navbar-collapse.in{
    background-color: #222;
    border-color: #080808;
  }
  
  
  /*-------放置背景图片-------*/
  .body-bg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
  }
  .body-bg .page-up-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: transform 1s ease;
    background-size: cover;
  }
  
  .body-bg:after{
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    z-index: 9;
  }
  .add-body-bg {
    background: url(../images/nerv.jpg) no-repeat;
  }
  /*-----------main------------*/
  /* ---------page-item-------------- */
  
  
  .page-item .container-fluid{
    padding-top:15vh;
  }
  /* home-page */
  .home-page .page-title{
    color: darkorange;
    font-size: 5.556vh;
    margin-top:-10vh;
  }
  .home-page .container{
    margin-top: -20vh;
  }
  .home-page h4{
    color: #B0B0B0;
  }
  .home-page .next-page-btn{
    display: inline-block;
    position: relative;
    padding: 1vh 2vh;
    border-radius: 10vh;
    border:2px solid #5d9edb;
    box-shadow: 0 0 5px #000;
          
    color: #fff;
  }
  .home-page .page-btn-block{
    margin-top: 10vh;
    display: none;
  }
  .home-page .page-btn-block a.next-page-btn{
    text-decoration: none;
    transition: background-color 1s;
    background-color:rgb(31, 115, 224);
  }
  .home-page .page-btn-block a.next-page-btn:hover{
    background-color: #989898;
  }
  .home-page .next-page-btn span{
    position: relative;
  
    top: 50%;
      transform: translateY(-50%);
  }
  .home-page .page-two-btn{
    display: none;
    position: absolute;
    top: 50vh;
    left: 50%;
    margin-left:-7.5vh;
    width: 15vh;
    height: 15vh;
    color: #fff;
  
  }
  /* about-me */
  .about-me .fp-tableCell{
    vertical-align: bottom;
  }
  .about-me .content-block{
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
  }
  .about-me .my-photo-block{
    position: absolute;
    height: 15vh;
    width: 15vh;
    left: 80vw;
    margin-left: -7.5vh;
    top:-7.5vh;
    border: 5px solid #545454;
    box-shadow: 0 0 5px #000;
    border-radius: 10vh;
    z-index: 12;
    overflow: hidden;
  }
  .about-me .my-photo-block:before 
      {
           content: '';
           position: fixed;
           top: 0; right: 0; bottom: 0; left: 0;
           -webkit-filter: blur(5px);   
           -moz-filter: blur(5px);   
           -ms-filter: blur(5px);   
           -o-filter: blur(5px);   
           filter: blur(5px);   
           filter: progid:DXImageTransform.
           Microsoft.Blur(PixelRadius=4, MakeShadow=false);   
      }
  .about-me .my-photo-block img{
    width: 100%;
    z-index: 11;
  }
  .about-me .text-block{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15vh 5vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 5px solid #545454;
    box-shadow: 0 0 5px #000;
  }
  .about-me .text-block p,.about-me .text-block span{
    display: inline-block;
    font-size: 1.2rem;
  }
  .about-me .text-block .title{
    font-size: 1.8rem;
    color: chocolate;
  }
  
  /* -------------skills-page---------------- */
  .skills-page .page-title{
    color: #5d9edb;
    display: none;
    animation-fill-mode: forwards;
  }
  .skills-page .page-content,.works-show .page-content{
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .skills-page .page-content .panel{
    transition:background-color .4s ease,transform .5s ease,box-shadow .5s ease,color 1s ease;
    cursor: pointer;
  }
  .skills-page .page-content .panel:hover{
    background-color:#333;
    color: #fff;
  }
  .skills-page .page-content .panel:hover .panel-body p{
    color: #cfcfcf;
  }
  .skills-page .page-content .panel .panel-body p{
    transition: color .5s ease;
    color: #777777;
  }
  
  /* -------------contact-me---------------- */
  .contact-me{
    transition:all .5s ;
  }
  .contact-me .container-fluid{
    background-color: rgba(195, 195, 195, 0.8);
    
  }
  .contact-me .content-block{
    position: relative;
    z-index: 10;
    transition:all .2s;
    color: #545454;
    
  }
  .contact-me .content-block:hover{
    background-color:rgba(195,195,195,1);
    transform: scale(1.02);
    transform:translateY(-1vh);
    box-shadow: 0 0 5px rgb(126, 126, 126);
  }
  .contact-me .content-block:hover .content-text-block{
    display: block;
    
  }
  .contact-me .content-lk{
    display: flex;
    height: 100%;
    width: 100%;
    color: #333;
    padding: 10vh 10vw;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }
  .contact-me .content-text-block{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    
  }
  .contact-me .content-text-block .content-text{
    position: absolute;
    left: 0;
    right: 0;
    padding: 2vh; bottom:0;
  
  }
  .contact-me .wechat-qr{
    background-color: rgba(195,195,195,1);
  }
  /* ------------------ */
  .fp-auto-height{
    margin-top:0;
  }
  
  /*------------------works-show----------------------- */
  .works-show .panel {
    overflow: hidden;
    cursor: pointer;
    transition:transform .1s ease-in-out;
  }
  .works-show .panel:hover {
    box-shadow: 0 0 10px #000;
    transform: translateY(-2vh)!important;
  }
  .works-show .panel:hover .panel-heading {
    z-index: 0;
    
  }
  
  .works-show .panel .panel-heading {
    z-index: 0;
    padding: 0;
    border-bottom: 0;
    
  } 
  .works-show .panel a{
    text-decoration: none;
  }   
  .works-show .panel .panel-body {
    position: relative;
    display: block;
    color: rgb(48, 48, 48) ;
    z-index: 1;
  }
  .works-show .panel .panel-body h4{
    color: rgb(235, 235, 235) ;
  }
  .works-show .panel .panel-body p{
    color: rgb(207, 207, 207) ;
    word-break: break-all;
  }
  .works-show .panel  .source-lk{
    display: inline-block;
    color: #545454;
    padding-left: .5vw;
  }
  .works-show .panel .panel-heading img {
    transition: transform 0.5s ease, box-shadow 1s ease;
  }
  .works-show .panel:hover .panel-heading img {
    position: relative;
    display: block;
    transform: scale(1.2);
    z-index: 0;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
  }
  .works-show .panel .panel-body {
    background-color: #2e558f;
  }
  /*---------footer----------*/
  .footer .list-group-item {
    text-align: center;
    background-color: inherit;
    color: #989898;
    border: none;
    transition: background-color 0.5s;
  }
  .footer .list-group-item:hover {
    color: #f2f2f2;
    background-color: inherit;
  }
  .footer .list-group-item:after {
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    border-top: 1px solid #76b852;
    z-index: 99;
    transition: width .5s ease;
  }
  .footer .list-group-item:hover:after {
    width: 100%;
  }
  