<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="tab-iframe">
        <div class="tab-item-selected"><a href="##">话费充值</a></div>
        <div class="tab-item-selected"><a href="##">流量充值</a></div>
        <div class="tab-item-selected"><a href="##">套餐变更</a></div>
    </div>
    <div class="tab-iframe-content">
        <div class="tab-content-item">
            
        </div>
        <div class="tab-content-item"></div>
        <div class="tab-content-item"></div>
    </div>
</body>
</html>