<% include common %>
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5 mg-t-10 mg-sm-t-0"><%=pageTitle%></h4>
    <p class="mg-b-0">填写内容不能为空.</p>
  </div>
    <div class="br-pagebody">
      <div class="card">
        <div class="card-body">
          <form action="/backend/regg" method="post" data-parsley-validate>
        <div class="form-horizontal">
          <div class="form-group">
            <label for="reg_name">用户名</label>
            <input type="text" class="form-control" name="reg_name" id="reg_name" placeholder="名字" required>
          </div>
          <div class="form-group">
            <label for="reg_pwd">密码</label>
            <input type="password" class="form-control" name="reg_pwd" id="reg_pwd" placeholder="密码" required>
          </div>
          <div class="form-group">
            <label for="reg_permissions">权限</label>
            <select name="reg_permissions" id="permissions" class="form-control" required>
              <option value="normal">NORMAL</option>
              <option value="admin">ADMIN</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" name="reg_tel" placeholder="手机号" class="form-control" required>
          </div>
          <div class="form-group">
            <button type='submit' class='btn btn-teal btn-block'> 提交</button>
          </div>
        </div>
      </form>
        </div>
      </div>
    </div>  

    <% include footer %>