<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href="./css/default.css">
    <!--<link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.css">-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>微软</title>
</head>

<body>
    <!--头部 开始-->
    <header>
        <a href="##" class='logo'>
            <img data-original="./images/microsoft-gray.png" alt="logo">
        </a>
        <nav>
            <ul class='menu menu-1' data-menu=1>
                <li>
                    <a class="btn" href="##" data-menu-btn=1>
                        商店
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <ul class='menu menu-2'>
                        <li>
                            <a href="##" class="btn" data-menu-btn=2>微软官方商城</a>
                        </li>
                        <li><a href="##" class="btn" data-menu-btn=2>寻找店铺</a></li>
                        <li>
                            <a href="##" class="btn" data-menu-btn=2>
                                应用程序
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <ul class="menu menu-3">
                                <li><a href="##" class="btn" data-menu-btn=3>所有应用程序</a></li>
                                <li><a href="##" class="btn" data-menu-btn=3>Windwos 应用程序</a></li>
                                <li><a href="##" class="btn" data-menu-btn=3>Windows Phone应用程序</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="##" class="btn" data-menu-btn=2>
                                游戏
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <ul class="menu menu-3">
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Windows games</a>
                                </li>
                                <li><a href="##" class="btn" data-menu-btn=3>Windows Phone游戏</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="##" class="btn" data-menu-btn=1>
                        产品
                        <i class='fa fa-angle-down'></i>
                    </a>
                    <ul class="menu menu-2">
                        <li>
                            <a href="##" class="btn" data-menu-btn=2>
                                软件和服务
                                <i class="fa fa-angle-right"></i> 
                            </a>
                            <ul class="menu menu-3">
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Windows</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Office</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>免费下载与安全性</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Internet Explorer</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Microsoft Edge</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Skype</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>OneNote</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>OneDrive</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>MSN</a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="##" class="btn" data-menu-btn=2>
                                设备与Xbox
                                <i class="fa fa-angle-right"></i> 
                            </a>
                            <ul class="menu menu-3">
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Microsoft Surface</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>所有Windows台式机和平板电脑</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>PC配件</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Xbox与游戏</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Microsoft Lumia</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Microsoft HoloLens</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="##" class="btn" data-menu-btn=2>
                                适用于商业领域
                                <i class="fa fa-angle-right"></i> 
                            </a>
                            <ul class="menu menu-3">
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>云平台</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Microsoft Azure</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Microsoft Dynamics 365</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>商用Windows</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>面向企业的Office</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Skype for Business</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>商业适用的Surface</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>企业解决方案</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>小型企业解决方案</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>查找解决方案提供商</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>批量许可</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="##" class="btn" data-menu-btn=2>
                                适用于开发人员和IT专业人士
                                <i class="fa fa-angle-right"></i> 
                            </a>
                            <ul class="menu menu-3">
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>开发Windows应用</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>MSDN</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Technet</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Visual Studio</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="##" class="btn" data-menu-btn=2>
                                适用于学生和教育工作者
                                <i class="fa fa-angle-right"></i> 
                            </a>
                            <ul class="menu menu-3">
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>面向学生的Office</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>教室中的OneNote</a>
                                </li>
                                <li>
                                    <a href="##" class="btn" data-menu-btn=3>Microsoft教育</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="##" class="btn" data-menu-btn=1>支持</a></li>
            </ul>
        </nav>
        <div class="header-right">
            <div class="search-box">
                <input type="text" placeholder="在Microsoft.com中搜索">
                </input>
                <a href="##" class="search-btn">
                <i class="fa fa-search"></i>
            </a>
            </div>
            <a href="##" class="header-cart">
            <i class="fa fa-shopping-cart"></i>
        </a>
            <a href="##" class="user-login">登录</a>
        </div>
    </header>
    <!--头部 结束-->
    <!--轮播部分 开始-->
    <section>
        <div class="banner" id="banner1">
            <ul class="banner-list">
                <li class="list-item">
                    <a href="##" class='item-lk'>
                        <div class="text-block black">
                            <h2 class='item-tit'>Surface Book</h2>
                            <h3 class='item-text'>Surface Book 增强版。而今更加强大。</h3>
                            <div class='lk-block'>
                                <span class="text-btn">
                                    立即购买
                                    <i class="fa fa-angle-right"></i>
                                </span>
                                <span class="text-btn">
                                    了解更多
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </div>
                        </div>
                        <img class='item-img ' data-original="./images/RWxRt.jpg" alt="surface book" />
                    </a>
                </li>
                <li class="list-item">
                    <a href="##" class='item-lk'>
                        <div class="text-block white">
                            <h2 class='item-tit'>你将如何做呢？</h2>
                            <h3 class='item-text'>Office 365 充分发挥设备潜力，激发出你的最佳状态。</h3>
                            <div class='lk-block'>
                                <span class="text-btn black">
                                    立即购买
                                    <i class="fa fa-angle-right"></i>
                                </span>
                                <span class="text-btn black">
                                    了解更多
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </div>
                        </div>
                        <img class='item-img ' data-original="./images/RE1qChT.jpg" alt="surface book" />
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!--轮播部分 结束-->
    <section class='container'>
        <div class="c-list-wrap">
            <ul class='c-list clearfix'>
                <li class="list-item">
                    <a href="##">
                        <img data-original='./images/RE1zhwB.jpg'>
                        <div class='item-text'>
                            <span class='text-head'>Windows电脑</span>
                            <p class='text-content'>通过新一代电脑亲身体验 Windows 的非凡魅力。</p>
                        </div>
                        <span>了解 Windows 电脑
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="##">
                        <img data-original='./images/REHt8H.jpg'>
                        <div class='item-text'>
                            <span class='text-head'>Xbox One S</span>
                            <p class='text-content'>更时尚、更纤薄、更高清。</p>
                        </div>
                        <span>购买 XBOX ONE S
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="##">
                        <img data-original='./images/RE11gZX.jpg'>
                        <div class='item-text'>
                            <span class='text-head'>Microsoft Edge</span>
                            <p class='text-content'>专为 Windows 10 量身定制的更快、更安全的浏览器。</p>
                        </div> 
                        <span>了解 Windows Hello 的工作原理
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="##">
                        <img data-original='./images/REGq4M.jpg'>
                        <div class='item-text'>
                            <span class='text-head'>Surface Pro 4</span>
                            <p class='text-content'>可以替代笔记本电脑的平板电脑。</p>
                        </div> 
                        <span>购买 SURFACE PRO 4
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="m-store">
            <img data-original="./images/REGKTe.jpg" alt="background-image">
            <a class="text-block">
                <div class="text-head">微软官方商城</div>
                <div class="text-content">寻找适合的技术，满足生活、学习、工作和娱乐之所需。</div>
                <span class="store-lk">
                    立即购买
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>

        </div>
    </section>
    <section>
        <h2>适用于工作地点</h2>
        <div class="c-list-wrap">
            <ul class='c-list clearfix'>
                <li class="list-item">
                    <a href="##">
                        <img data-original='./images/RE1zhwB.jpg'>
                        <div class='item-text'>
                            <span class='text-head'>Windows电脑</span>
                            <p class='text-content'>通过新一代电脑亲身体验 Windows 的非凡魅力。</p>
                        </div>
                        <span>了解 Windows 电脑
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="##">
                        <img data-original='./images/REHt8H.jpg'>
                        <div class='item-text'>
                            <span class='text-head'>Xbox One S</span>
                            <p class='text-content'>更时尚、更纤薄、更高清。</p>
                        </div>
                        <span>购买 XBOX ONE S
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="##">
                        <img data-original='./images/RE11gZX.jpg'>
                        <div class='item-text'>
                            <span class='text-head'>Microsoft Edge</span>
                            <p class='text-content'>专为 Windows 10 量身定制的更快、更安全的浏览器。</p>
                        </div> 
                        <span>了解 Windows Hello 的工作原理
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="##">
                        <img data-original='./images/REGq4M.jpg'>
                        <div class='item-text'>
                            <span class='text-head'>Surface Pro 4</span>
                            <p class='text-content'>可以替代笔记本电脑的平板电脑。</p>
                        </div> 
                        <span>购买 SURFACE PRO 4
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="banner" id="banner2">
            <ul class="banner-list">
                <li class="list-item">
                    <a href="##" class='item-lk'>
                        <div class="text-block white">
                            <h2 class='item-tit'>协合新能源康大海</h2>
                            <h3 class='item-text'>我们每多发一度电，就为蓝天白云多贡献了一份力量</h3>
                            <div class='lk-block'>
                                <span class="text-btn">
                                    了解更多
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </div>
                        </div>
                        <img class='item-img ' data-original="./images/RW36AU.jpg" alt="surface book" />
                    </a>
                </li>
                <li class="list-item">
                    <a href="##" class='item-lk'>
                        <div class="text-block black">
                            <h2 class='item-tit'>她思维</h2>
                            <h3 class='item-text'>让科技更多元</h3>
                            <div class='lk-block'>
                                <span class="text-btn">
                                    了解更多
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </div>
                        </div>
                        <img class='item-img ' data-original="./images/RW31oq.jpg" alt="surface book" />
                    </a>
                </li>
                <li class="list-item">
                    <a href="##" class='item-lk'>
                        <div class="text-block black">
                            <h2 class='item-tit'>在微软智能云上</h2>
                            <h3 class='item-text'>跑个微信小程序</h3>
                            <div class='lk-block'>
                                <span class="text-btn black">
                                    了解更多
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </div>
                        </div>
                        <img class='item-img ' data-original="./images/RW2YKN.jpg" alt="surface book" />
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <footer>
        <div class="social-block">
            <span class='text-tit'>关注 Microsoft</span>
            <a href="##" class='wechat lk'>
                <img src="./images/Website_Wechat_QR_code.png" alt="微信二维码">
            </a>
            <a href="##" class='weibo lk'>
                
            </a>
        </div>
        <div class="bottom-block">
            <div class="inner">
                <div class="row">
                    <div class="title">学习</div>
                    <ul class="menu-list">
                        <li class="list-item"><a href="##" class="item-lk">Windows</a></li>
                        <li class="list-item"><a href="##" class="item-lk">Office</a></li>
                        <li class="list-item"><a href="##" class="item-lk">Skype</a></li>
                        <li class="list-item"><a href="##" class="item-lk">Outlook</a></li>
                        <li class="list-item"><a href="##" class="item-lk">OneDrive</a></li>
                        <li class="list-item"><a href="##" class="item-lk">MSN</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="title">设备</div>
                    <ul class="menu-list">
                        <li class="list-item"><a href="##" class="item-lk">Microsoft Surface</a></li>
                        <li class="list-item"><a href="##" class="item-lk">Xbox</a></li>
                        <li class="list-item"><a href="##" class="item-lk">PC</a></li>
                        <li class="list-item"><a href="##" class="item-lk">Microsoft Lumia</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="title">微软官方商城</div>
                    <ul class="menu-list">
                        <li class="list-item"><a href="##" class="item-lk">我的订单</a></li>
                        <li class="list-item"><a href="##" class="item-lk">与我们联系</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="title">下载</div>
                    <ul class="menu-list">
                        <li class="list-item"><a href="##" class="item-lk">微软中国下载中心</a></li>
                        <li class="list-item"><a href="##" class="item-lk">所有 Windows 下载</a></li>
                        <li class="list-item"><a href="##" class="item-lk">Windows 10 Apps</a></li>
                        <li class="list-item"><a href="##" class="item-lk">Downloads_OfficeApps</a></li>
                        <li class="list-item"><a href="##" class="item-lk">Microsoft Lumia Apps</a></li>
                        <li class="list-item"><a href="##" class="item-lk">Internet Explorer</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="title">价值观</div>
                    <ul class="menu-list">
                        <li class="list-item"><a href="##" class="item-lk">Microsoft 隐私</a></li>
                        <li class="list-item"><a href="##" class="item-lk">教育</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="title">公司</div>
                    <ul class="menu-list">
                        <li class="list-item"><a href="##" class="item-lk">招贤纳士</a></li>
                        <li class="list-item"><a href="##" class="item-lk">关于微软</a></li>
                        <li class="list-item"><a href="##" class="item-lk">公司新闻</a></li>
                        <li class="list-item"><a href="##" class="item-lk">网站地图</a></li>
                    </ul>
                </div>
                <div class="another clearfix">
                    <div class="change-languages">
                        <i class="fa fa-globe"></i>
                        <a href="##">中文(中华人民共和国)‎</a>
                    </div>
                    <div class="copyright">
                        <ul>
                            <li><a href="##" class="copy-lk">与我们联系</a></li>
                            <li><a href="##" class="copy-lk">隐私与Cookie</a></li>
                            <li><a href="##" class="copy-lk">使用条款</a></li>
                            <li><a href="##" class="copy-lk">商标</a></li>
                            <li><a href="##" class="copy-lk">关于我们的广告</a></li>
                            <li><a href="##" class="copy-lk">京ICP备09042378号-6</a></li>
                            <li><a href="##" class="copy-lk">京公网安备 11010802023178</a></li>
                        </ul>
                    </div>
                    
                </div>
                <span class='end'>&copy; 2017 Microsoft</span>
            </div>

        </div>
    </footer>
</body>
<!--<script src='./node_modules/jquery/jquery.js'></script>-->
<script src='https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js'></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script src='./js/jquery-carousel-0.3.js'></script>

<script>
    $('#banner1,#banner2').carousel();
    $('img').lazyload({
        effect : "fadeIn"
    });
</script>

</html>