$bor-radius:2px;
$color-bg:#141518;
$color-block-wrap:#2c2f34;
$color-lk-bgcolor:rgb(211, 109, 40);
$color-lk-hover-bgcolor:rgb(218, 111, 40);
$color-font:#Fff;
$color-lk-font:#f2f2f2;
$color-pink:#c34c9c;
$color-black:#000;
$color-green:#60bb46;
$highlight-color-green:#6fd853;
$highlight-color-black:#131313;
$highlight-color-back:#200202;
$highlight-color-block-wrap:#3f434a;