@import 'set-color';
@import 'animation';
.loading-ani {
  position: relative;
  padding: 30px;
  width: 100%;
  height: 100%;
  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -5px;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: loadAni;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-iteration-count: infinite;
    z-index: 1000;
  }
  &:after {
    left: 45%;
    margin-left: -5px;
    background-color: #60bb46;
    box-shadow: 0 0 5px #82b674;
  }
  &:before {
    left: 55%;
    margin-left: -5px;
    background-color: rgb(196, 34, 134);
    box-shadow: 0 0 5px rgb(194, 101, 158);
    animation-delay: .2s;
  }
  @keyframes loadAni {
    0% {
      border-radius: 0;
      opacity: 1;
      transform: scale(0);
    }
    50% {
      border-radius: 50%;
      opacity: 1;
      transform: scale(1);
    }
    100% {
      border-radius: 50%;
      opacity: 0;
      transform: scale(2);
    }
  }
}

.hot-box {
  position: relative;
  display: flex;
  flex-direction: row;
  @media(min-width: 768.1px) {
    max-height: 400px;
    height: 400vw;
    >.lt {
      width: 60%;
    }
    >.rt {
      width: 40%;
      padding-left: 10px;
    }
  }
  @media(max-width: 768px) {
    flex-direction: column;
    >.lt,
    >.rt {
      width: 100%;
    }
    >.rt {
      padding-top: 20px;
    }
    .hot-list {
      height: 40vh;
    }
  }
  >.lt {
    position: relative;
    background: url(/images/dark_geometric2.png);
  }
  >.rt {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .tit {
      h2 {
        margin: 0 0 10px 0;
      }
    }
  }
  .hot-list {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    .swiper-slide {
      background-color: transparent;
    }
    .hot-list-item {
      animation: scaleIn_2x .3s ease;
      &:hover {
        .hot-lk {
          background-color: $highlight-color-block-wrap;
        }
      }
      .hot-lk {
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background-color: $color-block-wrap;
        transition: background-color .3s ease;
        overflow: hidden;
        >span {
          display: block;
        }
        .lt {
          position: relative;
          display: block;
          height: 100%;
          width: 30%;
          background-color: rgb(68, 68, 68);
          box-sizing: border-box;
          overflow: hidden;
          img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
          }
        }
        .rt {
          display: block;
          width: 70%;
          word-wrap: break-word;
          .art-tit {
            padding: 10px;
            box-sizing: border-box;
            font-size: 12px;
            word-wrap: break-word;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.line {
  position: relative;
  margin: 10vh 0;
  width: 50vw;
  max-width: 300px;
  height: 2px;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 70%;
    background-color: #60bb46;
  }
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    height: 100%;
    width: 30%;
    background-color: #c34c9c;
  }
}

section.classify {
  position: relative;
  width: 100%;
  min-width: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  .lt {
    margin-right: 15px;
    align-self: center;
    .title {
      word-wrap: break-word;
      letter-spacing: 20px;
      width: 20px;
    }
  }
  .rt {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .classify-item {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-basis: 25%;
    height: 200px;
    min-width: 150px;
    margin-bottom: 20px;
    border-radius: $bor-radius;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px #000;
    background-color: $color-block-wrap;
    transition: transform .3s ease, background-color .3s ease;
    overflow: hidden;
    &:hover {
      background-color: $color-lk-font;
      transform: translateY(-5px);
    }
    a.type-lk {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      overflow: hidden;
      &:hover {
        .iconfont {
          color: $color-block-wrap;
          transform: translateY(-100%);
        }
        .iconfont.bottom {
          color: $color-block-wrap;
          transform: translateY(0);
        }
        >p {
          background-color: $color-lk-hover-bgcolor;
        }
      }
      .iconfont {
        font-size: 100px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 20px;
        color: $color-lk-font;
        box-sizing: border-box;
        text-shadow: 2px 2px 5px rgba(51, 51, 51, 0.384);
        transition: transform .3s ease-in, color .3s ease;
        &.bottom {
          transform: translateY(100%);
          color: $color-lk-font;
        }
      }
      >p {
        position: absolute;
        width: 100%;
        padding: 10px;
        left: 0;
        margin: 0;
        bottom: 0;
        font-size: 1.2rem;
        color: $color-black;
        background-color: $color-lk-bgcolor;
        box-sizing: border-box;
        text-align: center;
        letter-spacing: 5px;
        transition: color .5s ease;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 992px) {
  html,
  body {
    font-size: 14px;
  }
}

@media(max-width:768px) {
  html,
  body {
    font-size: 12px;
  }
  .article {
    flex-direction: column-reverse !important;
    .article-list {
      width: 100% !important;
      ul {
        column-count: 1;
      }
    }
    .right-item {
      width: 100% !important;
    }
  }
}

.article {
  position: relative;
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  .right-item {
    width: 20%;
  }
}

.article-list {
  width: 80%;
  opacity: 0;
  animation: translate_LeftToRight 1s forwards;
  >.title {
    >a {
      font-size: 14px;
      color: #000;
      background-color: #fff;
    }
  }
  >ul {
    position: relative;
    column-count: 2;
    column-gap: 1px;
    column-rule: 1px solid rgb(53, 53, 53);
    width: 100%;
    box-sizing: border-box;
  }
  li {
    -webkit-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    -webkit-backface-visibility: hidden;
    opacity: 0;
    animation: flipXIn .3s forwards;
    box-sizing: border-box;
    background-color: #000;
    &:hover {
      .card {
        background-color: $highlight-color-black;
        box-shadow: 0 2px 5px rgb(56, 56, 56);
        &:before {
          transform: translateY(0);
        }
        .pic-box {
          >img {
            transform: scale(1);
          }
        }
      }
    }
    &:active {
      .card {
        transform: scale(.95);
      }
    }
  }
  .card {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid rgb(53, 53, 53);
    transition: background-color .2s ease, transform .2s ease, box-shadow .5s ease;
    overflow: hidden;
    z-index: 1;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgb(46, 46, 46);
      transform: translateY(100%) scale(0);
      opacity: 0;
      transition: transform .5s ease-out, opacity .5s ease;
      z-index: -1;
    }
    &:before {
      content: '';
      position: absolute;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      -o-column-break-inside: avoid;
      -ms-column-break-inside: avoid;
      column-break-inside: avoid;
      -webkit-backface-visibility: hidden;
      width: 100%;
      height: 5px;
      bottom: 0;
      left: 0;
      background-color: $color-pink;
      z-index: -1;
      transform: translateY(5px);
      transition: transform .3s ease;
    }
    .card-header {
      margin-bottom: 20px;
      .title {
        border-left: 5px solid $color-green;
        margin: 0 0 10px;
        padding: 10px 5px;
        background-color: #000;
        box-shadow: 0 0 1px rgb(119, 119, 119);
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      .art-type-tips {
        position: relative;
        padding: 5px 3px;
        margin-right: 5px;
        color: #fff;
        z-index: 1;
        &:after {
          content: '';
          position: absolute;
          height: 50%;
          width: 100%;
          top: 8%;
          left: 0;
          z-index: -1;
          background-color: $color-pink;
        }
      }
      h4 {
        display: inline-block;
        padding: 0;
        margin: 0;
        color: $color-font;
      }
      .info-box {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        >.item {
          margin-right: 20px;
        }
        &,
        a {
          color: rgb(117, 117, 117);
        }
        .iconfont {
          margin-right: 5px;
        }
      }
    }
    .card-body {
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        word-break: break-word;
        overflow: hidden;
        margin: 10px 0 0 0;
        font-size: 1rem;
        max-height: 100px;
        color: rgb(226, 226, 226);
      }
      .pic-box {
        height: 60px;
        overflow: hidden;
        >img {
          display: block;
          -webkit-column-break-inside: avoid;
          -moz-column-break-inside: avoid;
          -o-column-break-inside: avoid;
          -ms-column-break-inside: avoid;
          column-break-inside: avoid;
          -webkit-backface-visibility: hidden;
          height: 100%;
          transform: scale(.9);
          transition: transform .5s ease;
        }
      }
    }
  }
}

.right-item {
  padding-left: 10px;
  box-sizing: border-box;
  .articletag-list {
    .tag-lk {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      margin-bottom: 5px;
      transition: transform .2s ease-out;
      transform: scale(1);
      color: rgba(0, 0, 0, 0);
      .lk-inner {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        color: #fff;
        perspective: 1200px;
        transform-style: preserve-3d;
        transition: transform .3s ease;
        background-color: $color-pink;
      }
      .front,
      .back {
        position: absolute;
        backface-visibility: hidden;
        background-color: $color-pink;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: transform .3s ease;
        >span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .front {
        /* z-index: 1; */
        transform: rotateX(0);
      }
      .back {
        /* z-index: 0; */
        transform: rotateX(-180deg);
        background-color: $color-green;
      }
      &:hover {
        transform: scale(1);
        .lk-inner {
          transform: rotateX(180deg);
        }
        /* .front {
          z-index: 0;
        }
        .back {
          z-index: 1;
        } */
      }
      &:active {
        transform: scale(.9);
      }
    }
  }
}