@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes scaleIn_2x {
  0% {
    opacity: 0;
    transform: scale(2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes translate_LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-20%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes flipXIn {
  0% {
    opacity: 0;
    transform: scale(1) rotateX(-70deg); }
  100% {
    opacity: 1;
    transform: scale(1) rotateX(0); } }

.loading-ani-articlelist {
  position: relative;
  padding: 30px;
  width: 100%;
  height: 100%; }
  .loading-ani-articlelist:after, .loading-ani-articlelist:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -5px;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: loadAni;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-iteration-count: infinite;
    z-index: 1000; }
  .loading-ani-articlelist:after {
    left: 45%;
    margin-left: -5px;
    background-color: #60bb46;
    box-shadow: 0 0 5px #82b674; }
  .loading-ani-articlelist:before {
    left: 55%;
    margin-left: -5px;
    background-color: #c42286;
    box-shadow: 0 0 5px #c2659e;
    animation-delay: .2s; }

@keyframes loadAni {
  0% {
    border-radius: 0;
    opacity: 1;
    transform: scale(0); }
  50% {
    border-radius: 50%;
    opacity: 1;
    transform: scale(1); }
  100% {
    border-radius: 50%;
    opacity: 0;
    transform: scale(2); } }

.article-list {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.74);
  padding: 10px 0;
  perspective: 1200px; }
  .article-list a {
    color: #fff; }
  .article-list > .article-list-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #292929;
    padding: 0 10px;
    padding-bottom: 20px;
    background-color: #000;
    transition: transform .2s ease;
    transform-origin: bottom center;
    animation: flipXIn 1s forwards;
    perspective: 1200px; }
    .article-list > .article-list-item:last-child {
      margin-bottom: 0; }
    .article-list > .article-list-item:hover > a, .article-list > .article-list-item:active > a {
      transform: translateX(5px); }
    .article-list > .article-list-item > a {
      display: flex;
      justify-content: space-between;
      transition: transform .3s ease; }
    .article-list > .article-list-item .lt {
      width: 100%; }
    .article-list > .article-list-item .lt {
      position: relative;
      display: flex;
      flex-direction: column; }
      .article-list > .article-list-item .lt .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .article-list > .article-list-item .lt .top .time {
          align-self: center;
          color: #acacac; }
        .article-list > .article-list-item .lt .top .title {
          border-left: 5px solid #60bb46;
          padding: 0 5px;
          background-color: #000;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px; }
      .article-list > .article-list-item .lt .thumbnail {
        color: #bdbdbd;
        padding-top: 10px; }
    .article-list > .article-list-item .thumbnail {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
