@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes scaleIn_2x {
  0% {
    opacity: 0;
    transform: scale(2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes translate_LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-20%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes flipXIn {
  0% {
    opacity: 0;
    transform: scale(1) rotateX(-70deg); }
  100% {
    opacity: 1;
    transform: scale(1) rotateX(0); } }

a {
  word-wrap: break-word; }

figure {
  margin: 0; }
  figure > table {
    display: block;
    overflow: auto;
    background-color: #000; }

table {
  display: block;
  overflow: auto; }
  table tbody {
    padding: 5px;
    background-color: #2c2f34; }
    table tbody tr th,
    table tbody tr td {
      padding: 5px; }

figure > table::-webkit-scrollbar,
pre::-webkit-scrollbar {
  width: 10px;
  height: 4px; }

figure > table::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #535353; }

pre {
  background-color: #000000;
  color: darkorange;
  padding: 5px 5px;
  border-radius: 2px;
  box-sizing: border-box;
  overflow-x: auto; }

.article-body p img {
  width: 100%; }

.loading-ani {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(48, 48, 48, 0.582);
  z-index: 111; }
  .loading-ani:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    animation: subLoadAni 2s 200ms infinite; }

@keyframes subLoadAni {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }

@media (width: 360px) {
  article img,
  article iframe {
    width: 100% !important;
    height: auto !important; } }

.clearfix:after {
  display: block;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  zoom: 1; }

.line {
  position: relative;
  margin: 10vh 0;
  width: 50vw;
  max-width: 300px;
  height: 2px; }
  .line:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 70%;
    background-color: #60bb46; }
  .line:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    height: 100%;
    width: 30%;
    background-color: #c34c9c; }

section.article-wrapper {
  position: relative;
  width: 90%;
  max-width: 1190px;
  margin-bottom: 200px;
  margin: 0 auto; }
  section.article-wrapper .article-box {
    animation: fadeIn 1s forwards; }
    section.article-wrapper .article-box .article-header .art-title > h2 {
      text-align: center; }
    section.article-wrapper .article-box .article-header .pt-info {
      text-align: center;
      margin-bottom: 50px; }
      section.article-wrapper .article-box .article-header .pt-info span {
        margin-right: 20px;
        color: #8c9cb3;
        text-shadow: 0 0 5px #424242; }
      section.article-wrapper .article-box .article-header .pt-info .type-lk {
        display: inline-block;
        color: #000;
        padding: 0 5px;
        text-align: center; }
    section.article-wrapper .article-box .article-body {
      color: #ececec; }
  section.article-wrapper .comment-block h3 {
    padding: 10px 0;
    border-bottom: 1px solid #303030; }
  section.article-wrapper .comment-block .comment-item {
    position: relative; }
  section.article-wrapper .comment-block .add-comm {
    position: relative;
    box-sizing: border-box;
    align-items: stretch;
    align-content: center;
    margin-bottom: 80px; }
    section.article-wrapper .comment-block .add-comm > textarea {
      position: relative;
      display: block;
      width: 100%;
      height: 200px;
      margin: 0;
      padding: 10px;
      padding-right: 30px;
      border: none;
      border-radius: 2px;
      box-sizing: border-box;
      color: #cfcfcf;
      background-color: #474747;
      letter-spacing: 2px;
      resize: none;
      z-index: 100;
      overflow: auto; }
    section.article-wrapper .comment-block .add-comm .comm-submit-btn.show {
      transform: translateY(100%); }
    section.article-wrapper .comment-block .add-comm .comm-submit-btn {
      position: absolute;
      display: block;
      width: 100%;
      height: 60px;
      left: 0;
      bottom: 0;
      border-radius: 2px;
      line-height: 60px;
      background-color: #4cc37e;
      letter-spacing: 4px;
      font-weight: bold;
      text-align: center;
      box-sizing: border-box;
      z-index: 99;
      transition: transform .5s ease; }
      section.article-wrapper .comment-block .add-comm .comm-submit-btn:after {
        content: attr(data-attr);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 9;
        visibility: hidden;
        transform: translateY(-100%);
        transition: transform 0.5s ease, visibility 0.5s ease;
        background-color: orange; }
      section.article-wrapper .comment-block .add-comm .comm-submit-btn.msg:after {
        visibility: visible;
        transform: translateY(0); }
      section.article-wrapper .comment-block .add-comm .comm-submit-btn.hide:after {
        visibility: hidden;
        transform: translateY(-100%); }
  section.article-wrapper .comment-block .reply-block.show {
    display: block; }
  section.article-wrapper .comment-block .reply-list {
    display: none;
    position: relative;
    border: 1px solid #424242;
    margin-top: 15px;
    padding: 5px 15px; }
    section.article-wrapper .comment-block .reply-list.show {
      display: block; }
  section.article-wrapper .comment-block .reply-block {
    display: none;
    position: relative;
    width: 100%;
    height: 110px;
    margin-top: 15px;
    z-index: 100; }
    section.article-wrapper .comment-block .reply-block > .add-comm {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      height: 100%;
      z-index: 100; }
      section.article-wrapper .comment-block .reply-block > .add-comm > .comm-textarea {
        height: 100% !important; }
    section.article-wrapper .comment-block .reply-block .close-btn {
      position: absolute;
      content: '';
      right: 0;
      width: 30px;
      height: 30px;
      text-align: center;
      z-index: 101;
      transform: rotate(45deg);
      transition: transform .5s ease;
      cursor: pointer; }
      section.article-wrapper .comment-block .reply-block .close-btn:after, section.article-wrapper .comment-block .reply-block .close-btn:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        transform: translate(-50%, -50%, 0);
        background-color: #Fff; }
      section.article-wrapper .comment-block .reply-block .close-btn:after {
        width: 100%;
        height: 10%;
        top: 50%; }
      section.article-wrapper .comment-block .reply-block .close-btn:before {
        height: 100%;
        width: 10%;
        left: 50%; }
      section.article-wrapper .comment-block .reply-block .close-btn:hover {
        transform: rotate(225deg); }
  section.article-wrapper .comm-list {
    position: relative;
    background-color: #000;
    padding: 10px; }
    section.article-wrapper .comm-list ul.list > li {
      position: relative;
      padding-left: 10px;
      margin-bottom: 15px;
      border-left: 5px solid #085e2c;
      transition: border-color .4s ease, height .3s ease;
      animation: fadeIn .5s; }
      section.article-wrapper .comm-list ul.list > li:hover {
        border-color: #60bb46; }
      section.article-wrapper .comm-list ul.list > li .head-pic {
        position: relative;
        width: 10vw;
        height: 10vw;
        max-width: 80px;
        max-height: 80px;
        margin-top: 5px;
        box-sizing: border-box; }
        section.article-wrapper .comm-list ul.list > li .head-pic a {
          display: block;
          height: 100%;
          width: 100%;
          border-top-left-radius: 50%;
          overflow: hidden;
          transition: all .3s ease; }
          section.article-wrapper .comm-list ul.list > li .head-pic a > img {
            height: 100%; }
      section.article-wrapper .comm-list ul.list > li > div:nth-child(1),
      section.article-wrapper .comm-list ul.list > li .reply-list > li > div:nth-child(1) {
        display: flex;
        position: relative;
        flex-direction: row; }
      section.article-wrapper .comm-list ul.list > li .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: 10px; }
        section.article-wrapper .comm-list ul.list > li .content .info {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          section.article-wrapper .comm-list ul.list > li .content .info .lt {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 12px;
            margin-bottom: 10px; }
            section.article-wrapper .comm-list ul.list > li .content .info .lt > div {
              margin-right: 10px; }
          section.article-wrapper .comm-list ul.list > li .content .info .username {
            color: #cfcfcf; }
          section.article-wrapper .comm-list ul.list > li .content .info .address {
            color: #728092; }
          section.article-wrapper .comm-list ul.list > li .content .info .p-date {
            color: #728092; }
          section.article-wrapper .comm-list ul.list > li .content .info .floor-blk {
            justify-self: flex-end;
            font-size: 12px;
            color: #555555; }
        section.article-wrapper .comm-list ul.list > li .content > p {
          margin: 0;
          color: #9dafc7; }
        section.article-wrapper .comm-list ul.list > li .content .tools {
          display: flex;
          justify-content: flex-end;
          font-size: 14px; }
    section.article-wrapper .comm-list ul.list .comment-item:hover > div > .head-pic > a {
      height: 90%;
      width: 90%;
      box-shadow: 2px 2px 10px white; }
    section.article-wrapper .comm-list .comment-more {
      text-align: center; }
      section.article-wrapper .comm-list .comment-more > a.more-comms-lk {
        display: block;
        position: relative; }

.article-tags-list .tag-lk {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 0;
  margin-right: 20px;
  background-color: #085e2c; }
  .article-tags-list .tag-lk:hover {
    background-color: #064922; }
  .article-tags-list .tag-lk:after, .article-tags-list .tag-lk:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
    transform: skewX(30deg);
    background-color: inherit;
    z-index: -1; }
  .article-tags-list .tag-lk:before {
    transform: skewX(-30deg) !important; }

section.right-block {
  width: 30%; }
