@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes scaleIn_2x {
  0% {
    opacity: 0;
    transform: scale(2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes translate_LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-20%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes flipXIn {
  0% {
    opacity: 0;
    transform: scale(1) rotateX(-70deg); }
  100% {
    opacity: 1;
    transform: scale(1) rotateX(0); } }

.loading-ani {
  position: relative;
  padding: 30px;
  width: 100%;
  height: 100%; }
  .loading-ani:after, .loading-ani:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -5px;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: loadAni;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-iteration-count: infinite;
    z-index: 1000; }
  .loading-ani:after {
    left: 45%;
    margin-left: -5px;
    background-color: #60bb46;
    box-shadow: 0 0 5px #82b674; }
  .loading-ani:before {
    left: 55%;
    margin-left: -5px;
    background-color: #c42286;
    box-shadow: 0 0 5px #c2659e;
    animation-delay: .2s; }

@keyframes loadAni {
  0% {
    border-radius: 0;
    opacity: 1;
    transform: scale(0); }
  50% {
    border-radius: 50%;
    opacity: 1;
    transform: scale(1); }
  100% {
    border-radius: 50%;
    opacity: 0;
    transform: scale(2); } }

.hot-box {
  position: relative;
  display: flex;
  flex-direction: row; }
  @media (min-width: 768.1px) {
    .hot-box {
      max-height: 400px;
      height: 400vw; }
      .hot-box > .lt {
        width: 60%; }
      .hot-box > .rt {
        width: 40%;
        padding-left: 10px; } }
  @media (max-width: 768px) {
    .hot-box {
      flex-direction: column; }
      .hot-box > .lt,
      .hot-box > .rt {
        width: 100%; }
      .hot-box > .rt {
        padding-top: 20px; }
      .hot-box .hot-list {
        height: 40vh; } }
  .hot-box > .lt {
    position: relative;
    background: url(/images/dark_geometric2.png); }
  .hot-box > .rt {
    box-sizing: border-box;
    display: flex;
    flex-direction: column; }
    .hot-box > .rt .tit h2 {
      margin: 0 0 10px 0; }
  .hot-box .hot-list {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%; }
    .hot-box .hot-list .swiper-slide {
      background-color: transparent; }
    .hot-box .hot-list .hot-list-item {
      animation: scaleIn_2x .3s ease; }
      .hot-box .hot-list .hot-list-item:hover .hot-lk {
        background-color: #3f434a; }
      .hot-box .hot-list .hot-list-item .hot-lk {
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background-color: #2c2f34;
        transition: background-color .3s ease;
        overflow: hidden; }
        .hot-box .hot-list .hot-list-item .hot-lk > span {
          display: block; }
        .hot-box .hot-list .hot-list-item .hot-lk .lt {
          position: relative;
          display: block;
          height: 100%;
          width: 30%;
          background-color: #444444;
          box-sizing: border-box;
          overflow: hidden; }
          .hot-box .hot-list .hot-list-item .hot-lk .lt img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%; }
        .hot-box .hot-list .hot-list-item .hot-lk .rt {
          display: block;
          width: 70%;
          word-wrap: break-word; }
          .hot-box .hot-list .hot-list-item .hot-lk .rt .art-tit {
            padding: 10px;
            box-sizing: border-box;
            font-size: 12px;
            word-wrap: break-word;
            overflow: hidden; }

.line {
  position: relative;
  margin: 10vh 0;
  width: 50vw;
  max-width: 300px;
  height: 2px; }
  .line:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 70%;
    background-color: #60bb46; }
  .line:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    height: 100%;
    width: 30%;
    background-color: #c34c9c; }

section.classify {
  position: relative;
  width: 100%;
  min-width: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box; }
  section.classify .lt {
    margin-right: 15px;
    align-self: center; }
    section.classify .lt .title {
      word-wrap: break-word;
      letter-spacing: 20px;
      width: 20px; }
  section.classify .rt {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  section.classify .classify-item {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-basis: 25%;
    height: 200px;
    min-width: 150px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px #000;
    background-color: #2c2f34;
    transition: transform .3s ease, background-color .3s ease;
    overflow: hidden; }
    section.classify .classify-item:hover {
      background-color: #f2f2f2;
      transform: translateY(-5px); }
    section.classify .classify-item a.type-lk {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      overflow: hidden; }
      section.classify .classify-item a.type-lk:hover .iconfont {
        color: #2c2f34;
        transform: translateY(-100%); }
      section.classify .classify-item a.type-lk:hover .iconfont.bottom {
        color: #2c2f34;
        transform: translateY(0); }
      section.classify .classify-item a.type-lk:hover > p {
        background-color: #da6f28; }
      section.classify .classify-item a.type-lk .iconfont {
        font-size: 100px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 20px;
        color: #f2f2f2;
        box-sizing: border-box;
        text-shadow: 2px 2px 5px rgba(51, 51, 51, 0.384);
        transition: transform .3s ease-in, color .3s ease; }
        section.classify .classify-item a.type-lk .iconfont.bottom {
          transform: translateY(100%);
          color: #f2f2f2; }
      section.classify .classify-item a.type-lk > p {
        position: absolute;
        width: 100%;
        padding: 10px;
        left: 0;
        margin: 0;
        bottom: 0;
        font-size: 1.2rem;
        color: #000;
        background-color: #d36d28;
        box-sizing: border-box;
        text-align: center;
        letter-spacing: 5px;
        transition: color .5s ease; }
    section.classify .classify-item:last-child {
      margin-right: 0; }

@media (min-width: 992px) {
  html,
  body {
    font-size: 14px; } }

@media (max-width: 768px) {
  html,
  body {
    font-size: 12px; }
  .article {
    flex-direction: column-reverse !important; }
    .article .article-list {
      width: 100% !important; }
      .article .article-list ul {
        column-count: 1; }
    .article .right-item {
      width: 100% !important; } }

.article {
  position: relative;
  margin: 100px 0;
  display: flex;
  flex-direction: row; }
  .article .right-item {
    width: 20%; }

.article-list {
  width: 80%;
  opacity: 0;
  animation: translate_LeftToRight 1s forwards; }
  .article-list > .title > a {
    font-size: 14px;
    color: #000;
    background-color: #fff; }
  .article-list > ul {
    position: relative;
    column-count: 2;
    column-gap: 1px;
    column-rule: 1px solid #353535;
    width: 100%;
    box-sizing: border-box; }
  .article-list li {
    -webkit-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    -webkit-backface-visibility: hidden;
    opacity: 0;
    animation: flipXIn .3s forwards;
    box-sizing: border-box;
    background-color: #000; }
    .article-list li:hover .card {
      background-color: #131313;
      box-shadow: 0 2px 5px #383838; }
      .article-list li:hover .card:before {
        transform: translateY(0); }
      .article-list li:hover .card .pic-box > img {
        transform: scale(1); }
    .article-list li:active .card {
      transform: scale(0.95); }
  .article-list .card {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #353535;
    transition: background-color .2s ease, transform .2s ease, box-shadow .5s ease;
    overflow: hidden;
    z-index: 1; }
    .article-list .card:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #2e2e2e;
      transform: translateY(100%) scale(0);
      opacity: 0;
      transition: transform .5s ease-out, opacity .5s ease;
      z-index: -1; }
    .article-list .card:before {
      content: '';
      position: absolute;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      -o-column-break-inside: avoid;
      -ms-column-break-inside: avoid;
      column-break-inside: avoid;
      -webkit-backface-visibility: hidden;
      width: 100%;
      height: 5px;
      bottom: 0;
      left: 0;
      background-color: #c34c9c;
      z-index: -1;
      transform: translateY(5px);
      transition: transform .3s ease; }
    .article-list .card .card-header {
      margin-bottom: 20px; }
      .article-list .card .card-header .title {
        border-left: 5px solid #60bb46;
        margin: 0 0 10px;
        padding: 10px 5px;
        background-color: #000;
        box-shadow: 0 0 1px #777777;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px; }
      .article-list .card .card-header .art-type-tips {
        position: relative;
        padding: 5px 3px;
        margin-right: 5px;
        color: #fff;
        z-index: 1; }
        .article-list .card .card-header .art-type-tips:after {
          content: '';
          position: absolute;
          height: 50%;
          width: 100%;
          top: 8%;
          left: 0;
          z-index: -1;
          background-color: #c34c9c; }
      .article-list .card .card-header h4 {
        display: inline-block;
        padding: 0;
        margin: 0;
        color: #Fff; }
      .article-list .card .card-header .info-box {
        display: flex;
        flex-direction: row;
        font-size: 12px; }
        .article-list .card .card-header .info-box > .item {
          margin-right: 20px; }
        .article-list .card .card-header .info-box,
        .article-list .card .card-header .info-box a {
          color: #757575; }
        .article-list .card .card-header .info-box .iconfont {
          margin-right: 5px; }
    .article-list .card .card-body p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      word-break: break-word;
      overflow: hidden;
      margin: 10px 0 0 0;
      font-size: 1rem;
      max-height: 100px;
      color: #e2e2e2; }
    .article-list .card .card-body .pic-box {
      height: 60px;
      overflow: hidden; }
      .article-list .card .card-body .pic-box > img {
        display: block;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        -o-column-break-inside: avoid;
        -ms-column-break-inside: avoid;
        column-break-inside: avoid;
        -webkit-backface-visibility: hidden;
        height: 100%;
        transform: scale(0.9);
        transition: transform .5s ease; }

.right-item {
  padding-left: 10px;
  box-sizing: border-box; }
  .right-item .articletag-list .tag-lk {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 5px;
    transition: transform .2s ease-out;
    transform: scale(1);
    color: transparent; }
    .right-item .articletag-list .tag-lk .lk-inner {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      color: #fff;
      perspective: 1200px;
      transform-style: preserve-3d;
      transition: transform .3s ease;
      background-color: #c34c9c; }
    .right-item .articletag-list .tag-lk .front,
    .right-item .articletag-list .tag-lk .back {
      position: absolute;
      backface-visibility: hidden;
      background-color: #c34c9c;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: transform .3s ease; }
      .right-item .articletag-list .tag-lk .front > span,
      .right-item .articletag-list .tag-lk .back > span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .right-item .articletag-list .tag-lk .front {
      /* z-index: 1; */
      transform: rotateX(0); }
    .right-item .articletag-list .tag-lk .back {
      /* z-index: 0; */
      transform: rotateX(-180deg);
      background-color: #60bb46; }
    .right-item .articletag-list .tag-lk:hover {
      transform: scale(1);
      /* .front {
          z-index: 0;
        }
        .back {
          z-index: 1;
        } */ }
      .right-item .articletag-list .tag-lk:hover .lk-inner {
        transform: rotateX(180deg); }
    .right-item .articletag-list .tag-lk:active {
      transform: scale(0.9); }
