@charset "UTF-8";
.loading-ani {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(48, 48, 48, 0.582);
  z-index: 111; }
  .loading-ani:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    animation: subLoadAni 2s 200ms infinite; }

@keyframes subLoadAni {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }

.wrapper {
  width: 100%; }

@media (max-width: 700px) {
  .body-box .bottom-box {
    flex-direction: column !important; }
    .body-box .bottom-box .img-wrapper {
      width: 100% !important;
      flex-grow: 1; }
    .body-box .bottom-box .preview-box {
      flex-direction: row !important;
      margin-left: 0 !important;
      margin-top: 20px; }
      .body-box .bottom-box .preview-box .preview {
        margin-right: 20px; }
  .body-box .tool-box {
    width: 100% !important;
    margin-left: 0 !important; } }

header.top-box {
  position: relative;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row; }
  header.top-box .head-box {
    position: relative;
    height: 100px;
    width: 100px;
    margin-left: 5%;
    border-radius: 50%;
    border: 5px solid #000;
    overflow: hidden;
    z-index: 1;
    cursor: pointer; }
    header.top-box .head-box .tips {
      position: absolute;
      display: flex;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      visibility: hidden;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.479);
      color: #dbdbdb; }
      header.top-box .head-box .tips > .iconfont {
        font-size: 26px; }
    header.top-box .head-box > img {
      width: 100%; }
    header.top-box .head-box:after {
      content: '更换头像';
      position: relative; }
    header.top-box .head-box:hover .tips {
      visibility: visible; }
  header.top-box:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    background-color: #000;
    z-index: 0; }
  header.top-box .name-box {
    position: relative;
    margin-left: 3%;
    width: 20%;
    z-index: 1; }
    header.top-box .name-box > input {
      position: absolute;
      height: 50%;
      width: 100%;
      padding: 10px;
      bottom: 0;
      left: 0;
      border: none;
      color: #fff;
      outline: none;
      box-sizing: border-box;
      font-size: 26px;
      background-color: transparent; }
      header.top-box .name-box > input::-webkit-input-placeholder {
        color: #fff; }
      header.top-box .name-box > input:hover, header.top-box .name-box > input:focus {
        background-color: rgba(100, 100, 100, 0.404); }

.content-box {
  position: relative;
  background-color: #f3f3f3;
  padding-bottom: 200px;
  height: 80vh; }
  .content-box .tab {
    position: relative;
    height: 100%;
    width: 100%; }
    .content-box .tab .tab-head {
      background-color: #fff;
      box-shadow: 0 3px 5px #bebebe;
      margin-bottom: 5px;
      overflow: hidden; }
      .content-box .tab .tab-head ul {
        display: flex;
        flex-direction: row; }
        .content-box .tab .tab-head ul .tab-head-item > a {
          position: relative;
          display: block;
          margin: 0 5px;
          padding: 20px 20px;
          color: #000; }
          .content-box .tab .tab-head ul .tab-head-item > a:after {
            content: '';
            position: absolute;
            height: 5px;
            width: 0;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            transition: width .2s ease-out;
            background-color: #f0af23; }
        .content-box .tab .tab-head ul .tab-head-item:hover, .content-box .tab .tab-head ul .tab-head-item.active {
          font-weight: bold; }
          .content-box .tab .tab-head ul .tab-head-item:hover > a:after, .content-box .tab .tab-head ul .tab-head-item.active > a:after {
            width: 100%; }
    .content-box .tab .tab-body {
      height: 80%;
      padding: 10px;
      color: #272727;
      margin: 20px;
      padding-bottom: 50px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 2px 2px 5px #cecece;
      overflow-y: auto;
      overflow-x: hidden; }
      .content-box .tab .tab-body::-webkit-scrollbar {
        width: 10px;
        height: 1px; }
      .content-box .tab .tab-body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #535353; }
      .content-box .tab .tab-body ul {
        perspective: 1200px; }
    .content-box .tab .tab-body-item {
      display: none;
      position: relative;
      height: 100%;
      padding: 10px;
      transform-origin: left center;
      animation: fadeIn_LR .5s forwards; }
      .content-box .tab .tab-body-item.show {
        display: block;
        /* animation: fadeIn_LR 1s forwards; */ }

@keyframes fadeIn_LR {
  0% {
    opacity: 0;
    transform: translateX(25%) rotateY(90deg); }
  100% {
    opacity: 1;
    transform: translateX(0) rotateY(0); } }

@keyframes fadeOut_RL {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(25%); } }
      .content-box .tab .tab-body-item.hide {
        animation: fadeOut_RL 1s forwards; }
    .content-box .tab .info-item {
      margin-bottom: 20px; }
      .content-box .tab .info-item .tit {
        color: #838383;
        padding: 10px 0 10px 0;
        margin: 0; }
      .content-box .tab .info-item input {
        height: 30px;
        width: 200px; }
    .content-box .tab .update-info-btn {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      color: white;
      background-color: #e9ab26;
      border-radius: 4px;
      box-shadow: 2px 2px 5px #cecece; }
      .content-box .tab .update-info-btn:hover, .content-box .tab .update-info-btn:active {
        background-color: #f0b12a; }

.modal-box {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 4px;
  box-shadow: 0 0 5px #9b9b9b;
  color: #000;
  box-sizing: border-box;
  z-index: 100000;
  overflow: hidden; }
  .modal-box.show {
    display: flex; }
  .modal-box .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;
    max-width: 900px;
    height: 90vh;
    left: 50%;
    top: 50px;
    background-color: #ffffff;
    border-radius: 4px;
    transform: translateX(-50%);
    box-shadow: 0 0 5px #616161;
    box-sizing: border-box;
    animation: fadeIn_TB .5s forwards; }

@keyframes fadeIn_TB {
  0% {
    opacity: 0;
    transform: translate(-50%, 0) scale(2); }
  100% {
    opacity: 1;
    transform: translate(-50%, 0) scale(1); } }
  .modal-box a {
    color: #000; }
  .modal-box .head-box {
    position: relative;
    border-bottom: 1px solid #b6b6b6; }
    .modal-box .head-box .close-btn {
      position: absolute;
      height: 5vh;
      width: 5vh;
      right: 0;
      top: 0;
      transition: transform .3s ease;
      transform: rotate(45deg); }
      .modal-box .head-box .close-btn:hover, .modal-box .head-box .close-btn:active {
        transform: rotate(-135deg); }
      .modal-box .head-box .close-btn:after, .modal-box .head-box .close-btn:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: #000;
        transform: translate(-50%, -50%); }
      .modal-box .head-box .close-btn:after {
        height: 100%;
        width: 10%; }
      .modal-box .head-box .close-btn:before {
        height: 10%;
        width: 100%; }
  .modal-box .body-box {
    display: flex;
    flex-grow: 1;
    flex-direction: column; }
  .modal-box .upload-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .modal-box .upload-box .tit {
      margin-right: 20px; }
  .modal-box .bottom-box {
    position: relative;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row; }
    .modal-box .bottom-box .img-wrapper {
      position: relative;
      width: 70%;
      border: 1px solid #dbdbdb;
      box-shadow: 0 0 5px #dbdbdb inset;
      overflow: hidden;
      border-radius: 4px; }
      .modal-box .bottom-box .img-wrapper .img-avatar {
        position: relative;
        width: 100%;
        z-index: -1; }
    .modal-box .bottom-box .preview-box {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-left: 20px; }
      .modal-box .bottom-box .preview-box .preview {
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 20px; }
      .modal-box .bottom-box .preview-box .small-preview {
        width: 150px;
        height: 150px; }
      .modal-box .bottom-box .preview-box .small-preview2 {
        width: 75px;
        height: 75px; }
  .modal-box .tool-box {
    position: relative;
    width: 30%;
    margin-top: 20px;
    margin-left: 70%; }
    .modal-box .tool-box .submit-btn {
      display: block;
      padding: 20px 0;
      width: 100%;
      border-radius: 4px;
      color: white;
      background-color: #f0af23;
      box-shadow: 0 0 5px #dbdbdb;
      text-align: center; }
