<!DOCTYPE html>
<html>

<head>
  <title>
    <%= pageTitle?pageTitle:'首页' %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS Libs -->
  <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap-switch.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/checkbox3.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/dataTables.bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/select2.min.css">
  <!-- CSS App -->
  <link rel="stylesheet" type="text/css" href="/css/back/style.css">
  <link rel="stylesheet" type="text/css" href="/css/back/themes/flat-blue.css">
</head>